In [2]:
import pandas as pd

df = pd.read_excel('/Users/gemarusi/Downloads/py-master/pandas/4_read_write_to_excel/stock_data.xlsx','Sheet1')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [4]:
import pandas as pd

def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell

def convert_eps_cell(cell):
    if cell=='not available':
        return None
    return cell

df = pd.read_excel('/Users/gemarusi/Downloads/py-master/pandas/4_read_write_to_excel/stock_data.xlsx','Sheet1', converters = {
    'people': convert_people_cell,
    'eps' : convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [9]:
df.to_excel('/Users/gemarusi/Downloads/py-master/pandas/4_read_write_to_excel/new.xlsx', sheet_name='stocks',startrow=1,startcol=2, index=False)

NameError: name 'pd' is not defined